@import url('https://fonts.google.com/specimen/Hanken+Grotesk');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap');
/* Base Reset */
:root{
    --bg-cyan: #e0f1f6;
    --bg-yellow: #b3e300; 
    --bg-lightgray: #d4d1d1;
    --bg-grayishblue: #2ab2af;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
    font-family: 'Inter' sans-serif;
    background-color: #e0f1f6;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  
  /* Card Container */
  .card{
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 570px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card-header{
    padding: 2rem;
    text-align: left;
    
  }
  
  .card-header h2{
    color: #20bfa9;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    height: auto;
  }
  
  .card-header .highlight{
    font-size: 1.00rem;
    color: #b3e300;
    font-weight: 600;
    margin-bottom: 0.75rem;
    display: inline-block;
  }
  
  .card-text{
    font-size: 0.93rem;
    color: #d4d1d1;
    line-height: 1.6;
  }
  
  /* Bottom Section - Split Layout */
  .card-body {
    display: flex;
    color: white;
    height: auto;
  }
  .card-left {
    width: 50px;
    flex: 1;
    padding: 2rem;
    display: flex;
    background-color: var(--bg-grayishblue);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: lighter;
  }
  
  .card-left h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 0.5rem 0;
    flex: 4;
  }
  
  .price {
    font-size: 1.60rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
    flex: 3;
    display: flex;
  }
  
  .card-left .per-month {
    font-size: 0.85rem;
    opacity: 0.8;
    flex: 1;
  }
  
  .card-left .note {
    font-size: 0.85rem;
    margin-top: 0.5rem;
    flex: 1;

  }
  .card-left button {
    padding: 0.88rem 5rem;
    font-size: 1rem;
    font-weight: 100px;
    border: none;
    border-radius: 8px;
    background-color: #b3e300;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  
  .card-left button:hover {
    background-color: #a1cc00;
  }
  
  .card-right {
    font-weight: 400px;
    background-color: var(--bg-grayishblue);
    width: 50px;
    flex: 1;
    padding: 2rem;
    font-size: 0.7rem;
    opacity: 0.9;
    line-height: 1.6;
  }
.note{
    font-size: 0.70rem;
    font-weight: 30px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: #f3f0f0;
  }
 
